<style>
    .container {
        max-width: 100%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Cerca paziente</h3>
        <form method="get" action="" id="formModifica">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control js-select2" name="paziente" id="selectModifica">
                            <repeat group="{{ @lista_pazienti }}" value="{{ @p }}">
                                <option value="{{ @p.id }}">{{ @p.nomecompleto }} ({{ @p.datanascita }})</option>
                             </repeat>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block btn-lg mb-3" id="btnModifica">INSERISCI</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Lista</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped" id="naotao">
            <thead>
                <tr>
                    <th scope="col">Paziente</th>
                    <th scope="col">Farmaco</th>
                    <th scope="col">Data ultimi esami</th>                    
                    <th scope="col">Allegato compilato</th>
                    <th scope="col">Data follow up</th>
                    <th scope="col">Esami prescritti</th>
                    <th scope="col">Convocare</th>
                    <th scope="col">Note</th>
                    <th scope="col" style="width: 50px">#</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @lista }}" value="{{ @s }}"></repeat>
                <tr>
                    <td>{{ @s.cognome }} {{ @s.nome }} ({{ @s.datanascita }})</td>
                    <td>{{ @s.farmaco }}</td>
                    <td><check if="{{ @s.dataultimiesami == null }}"><true><span class="text-danger"><i class="fas fa-exclamation-triangle"></i></span></true><false>{{ @s.dataultimiesami | datatodmy }}</false></check></td>
                    <td><check if="{{ @s.allegatocompilato == 1 }}"><true>Sì</true><false><span class="text-danger"><i class="fas fa-exclamation-triangle"></i></span></false></check></td>
                    
                    <td>
                        <check if="{{ @s.datafollowup == null }}">
                            <true><span class="text-danger"><i class="fas fa-exclamation-triangle"></i></span></true>
                            <false>
                                <check if="{{ @s.datafollowup < @oggi }}">
                                    <true><span class="text-danger"><i class="fas fa-hourglass-end"></i> {{ @s.datafollowup | datatodmy }}</span></true>
                                    <false>{{ @s.datafollowup | datatodmy }}</false>
                                </check>
                            </false>
                        </check>
                    </td>

                    <td>{{ @s.esamiprescritti | sino }}</td>
                    <td>{{ @s.convocare | sino }}</td>
                    <td>{{ @s.note }}</td>
                    <td scope="row">
                        <div class="btn-group" role="group" aria-label="Pulsanti">
                            <a href="{{@BASE}}{{ 'naotao_modifica', 'id='.@s.idnaotao | alias }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-pencil-alt"></i></a>
                            <a href="{{@BASE}}{{ 'naotao_cancella', 'id='.@s.idnaotao | alias }}" class="btn btn-danger btn-sm btn-rect"><i class="fas fa-times"></i></a>
                        </div>
                    </td>
                </tr>
                </repeat>
            </tbody>
        </table>

    </div>
</div>

