<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<h2>LISTA DEPOSITI</h2>
<div class="row">
    <div class="col-md-12">
        <!-- table-striped -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">DATA RITIRO</th>
                <th scope="col">TIPO</th>
                <th scope="col">QT.</th>
                <th scope="col">LOTTO</th>
                <th scope="col">FORNITO</th>

                <th scope="col" style="width: 50px">#</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @lista }}" value="{{ @d }}">
                <tr>
                    <td scope="row">{{ @d.data }}</td>
                    <td>{{ @d.tipo }}</td>
                    <td>{{ @d.quantita }}</td>
                    <td>{{ @d.lotto }}</td>
                    <td>{{ @d.fornito | fornito }}</td>
                    
                    <td scope="row">
                        <div class="btn-group" role="group" aria-label="Pulsanti">
                            <a href="{{@BASE}}{{ 'vaccini_depositi_modifica', 'id='.@d.id | alias }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-pencil-alt"></i></a>
                        </div>
                    </td>
                    <!--
                    <td scope="row">
                        <div class="btn-group" role="group" aria-label="Pulsanti">
                            <a href="{{@BASE}}/privacy/cancella/{{ @d.id }}" class="btn btn-danger btn-sm btn-rect"><i class="fas fa-times"></i></a>
                            <a href="{{@BASE}}/privacy/pdf/{{ @d.id }}" class="btn btn-info btn-sm btn-rect" target="_blank"><i class="fas fa-pencil-alt"></i></a>
                        </div>
                    </td>
                    -->
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>