<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a href="{{@BASE}}{{ 'pazientinuovo' | alias }}" class="btn btn-primary btn-block btn-lg">NUOVO PAZIENTE</a>
    </div>
    <div class="col-md-6">
        <a href="{{@BASE}}{{ 'pazienticerca' | alias }}" class="btn btn-primary btn-block btn-lg">CERCA PAZIENTE</a><br>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Lista iniziali cognomi</h3>
        <repeat group="{{ @lista }}" value="{{ @lettera }}">
            <a href="{{@BASE}}/pazienti/lettera/{{ @lettera }}" class="display-4">{{ @lettera }}</a>
        </repeat>
    </div>
</div>

