<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card text-center h-100">
            <div class="card-header">
                <h5>ENTRATI</h5>
            </div>
            <div class="card-body">
                <p><strong>Antinfluenzali</strong><br>Forniti AUSL: {{ @antinfluenzali_forniti_ausl }}<br>
                    Forniti paziente: {{ @antinfluenzali_forniti_paziente }}<br>
                    Totale depositati: {{ @antinfluenzali_forniti_totale }}
                </p>
                <hr>
                <p><strong>Antipneumococco</strong><br>
                    Totale depositati: {{ @antipneumococco_forniti_totale }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center h-100">
            <div class="card-header">
                <h5>USCITI</h5>
            </div>
            <div class="card-body">
                <p><strong>Antinfluenzali</strong><br>
                    Vaccinati: {{ @antinfluenzali_fatti }}<br>
                    Lasciati al paziente: {{ @antinfluenzali_lasciati_paziente }}<br>
                    Scartati: {{ @antinfluenzali_scartati }}<br>
                    Totale usciti: {{ @antinfluenzali_usciti }}
                </p>
                <hr>
                <p><strong>Antipneumococco</strong><br>
                    Totale usciti: {{ @antipneumococco_usciti }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center h-100">
            <div class="card-header">
                <h5>RIMANENZE</h5>
            </div>
            <div class="card-body">
                <p><strong>Antinfluenzali</strong><br>
                    Fluad: {{ @antinfluenzali_rimanenza_fluad }}<br>
                   Vaxigrip Tetra: {{ @antinfluenzali_rimanenza_vaxigrip }}<br>
                   Altro: {{ @antinfluenzali_rimanenza_altro }}<br>
                    Totale frigo: {{ @antinfluenzali_rimanenza }}
                </p>
                <hr>
                <p><strong>Antipneumococco</strong><br>
                    Prevenar: {{ @antipneumococco_prevenar_rimanenza }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center h-100">
            <div class="card-header">
                <h5>STATISTICHE</h5>
            </div>
            <div class="card-body">
                <p><strong>Prenotazioni</strong><br>
                    Fluad: {{ @prenotazioni_fluad }} <span class="text-info">(rest. {{ @prenotazioni_possibili_fluad }})</span><br>
                    Vaxigrip Tetra: {{ @prenotazioni_vaxigrip }} <span class="text-info">(rest. {{ @prenotazioni_possibili_vaxigrip }})</span><br>
                    Altro: {{ @prenotazioni_altro }}<br>
                    Prevenar: {{ @prenotazioni_prevenar }} <span class="text-info">(rest. {{ @prenotazioni_possibili_prevenar }})</span><br>
                    Non definite: {{ @prenotazioni_tipo_da_definire }} 
                </p>
                <hr>
                <p><strong>Antinfluenzali</strong><br>
                    Totale pazienti: {{ @totale_pazienti }}<br>
                    Pazienti con rischi: {{ @antinfluenzali_totale_rischio }}<br>
                    Da vaccinare: {{ @antinfluenzali_da_vaccinare }}<br>
                    Fornitura: {{ @antinfluenzali_percentuale_vaccinati }}&percnt;<br>
                    Over60: {{ @over60 }} (vac: {{ @percentualeover60 }}&percnt;)
                </p>               
            </div>
        </div>
    </div>
</div>
<hr>
<h2>Vaccinazioni</h2>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_nuovo', 'tipo=antinfluenzale' | alias }}">
            <i class="fas fa-syringe fa-5x"></i>
            <p>
                Nuovo Vaccino
                <br />
                Antinfluenzale
            </p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_nuovo', 'tipo=antipneumococcico' | alias }}">
            <i class="fas fa-lungs fa-5x"></i>
            <p>
                Nuovo Vaccino
                <br />
                Antipneumococco
            </p>
        </a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-squared-default btn-primary btn-block" href="{{@BASE}}{{ 'vaccini_lista' | alias }}">
            <i class="fas fa-th-list fa-5x"></i>
            <p>
                Lista
                <br />
                vaccini fatti
            </p>
        </a>
    </div>
</div>

<hr>

<h2>Persone vaccinabili</h2>
<div class="row">
    <div class="col-md-2">
        <!-- disabled -->
        <!-- aria-disabled="true" -->
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_vaccinabili_nuovo' | alias }}" role="button">
            <i class="fas fa-user-plus fa-5x"></i>
            <p>
                Nuovo paziente
                <br />
                vaccinabile
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_vaccinabili_lista' | alias }}">
            <i class="fas fa-users fa-5x"></i>
            <p>
                Lista pazienti
                <br />
                vaccinabili
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_prenotazioni_tabella' | alias }}">
            <i class="fas fa-table fa-5x"></i>
            <p>
                Nuova
                <br />
                Prenotazione
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_prenotazioni_pdf' | alias }}" target="_blank">
            <i class="far fa-file-pdf fa-5x"></i>
            <p>
                PDF lista
                <br />
                Prenotazioni
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_prenotazioni_lista' | alias }}">
            <i class="fas fa-list fa-5x"></i>
            <p>
                Tabella lista
                <br />
                Prenotazioni
            </p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_vaccinabili_chiamare' | alias }}">
            <i class="fas fa-phone-volume fa-5x"></i>
            <p>
                Lista
                <br />
                Da chiamare
            </p>
        </a>
    </div>
    <!-- <div class="col-md-4">
        <a class="btn btn-squared-default btn-danger btn-block"
            href="{{@BASE}}{{ 'vaccini_vaccinabili_import' | alias }}">
            <i class="fas fa-upload fa-5x"></i>
            <p>
                Import
                <br />
                CSV
            </p>
        </a>
    </div> -->
</div>

<hr>

<h2>Depositi</h2>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-squared-default btn-primary btn-block" href="{{@BASE}}{{ 'vaccini_depositi_nuovo' | alias }}">
            <i class="fas fa-archive fa-5x"></i>
            <p>
                Nuovo
                <br />
                Deposito
            </p>
        </a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-squared-default btn-primary btn-block" href="{{@BASE}}{{ 'vaccini_depositi_lista' | alias }}">
            <i class="fas fa-warehouse fa-5x"></i>
            <p>
                Lista
                <br />
                Vaccini depositati
            </p>
        </a>
    </div>
</div>

<style>
    .btn-squared-default {
        /* width: 200px !important; */
        height: 190px !important;
        /* font-size: 16px; */
        padding-top: 30px;
    }

    a.btn-squared-default,
    p {
        margin-top: 10px;
    }

    /*
    .btn-squared-default:hover {
        border: 3px solid red;
    }
    */
</style>