<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3 text-center">
            <div class="card-header"><h6><small class="font-weight-bold">Anti</small> influenzale</h6></div>
            <div class="card-body">
                <p>Fatti: {{ @fatti_antinfluenzali }}<br>
                Lasciati al paziente: {{ @lasciati_paziente_antinfluenzali }}<br>
                Forniti USL: 0<br>
                Forniti paziente: 0<br>
                Rimanenza frigo: {{ @rimanenza_antinfluenzale }}
            </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3 text-center">
            <div class="card-header"><h6><small class="font-weight-bold">Anti</small> pneumococcico</h6></div>
            <div class="card-body">
                <p>Fatti: {{ @fatti_antipneumococcica }}<br>
                Lasciati al paziente: {{ @lasciati_paziente_antipneumococcica }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
</div>

<h2>Vaccinazioni</h2>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_nuovo', 'tipo=antinfluenzale' | alias }}">
            <i class="fas fa-syringe fa-5x"></i>
            <p>
                Vaccino
                <br />
                Antinfluenzale
            </p>
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_nuovo', 'tipo=antipneumococcico' | alias }}">
            <i class="fas fa-lungs fa-5x"></i>
            <p>
                Vaccino
                <br />
                Antipneumococcico
            </p>
        </a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-squared-default btn-primary btn-block" href="{{@BASE}}{{ 'vaccini_lista' | alias }}">
            <i class="fas fa-th-list fa-5x"></i>
            <p>
                Lista
                <br />
                vaccini
            </p>
        </a>
    </div>
</div>
<hr>

<h2>Depositi</h2>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-squared-default btn-primary btn-block" href="{{@BASE}}{{ 'vaccini_depositi_nuovo' | alias }}">
            <i class="fas fa-archive fa-5x"></i>
            <p>
                Deposito
                <br />
                nuovo
            </p>
        </a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-squared-default btn-primary btn-block" href="{{@BASE}}{{ 'vaccini_depositi_lista' | alias }}">
            <i class="fas fa-warehouse fa-5x"></i>
            <p>
                Deposito
                <br />
                lista
            </p>
        </a>
    </div>
</div>
<hr>

<h2>Persone vaccinabili</h2>
<div class="row">
    <div class="col-md-4">
        <!-- disabled -->
        <!-- aria-disabled="true" -->
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_vaccinabili_nuovo' | alias }}" role="button">
            <i class="fas fa-user-plus fa-5x"></i>
            <p>
                Nuovo paziente
                <br />
                vaccinabile
            </p>
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_vaccinabili_lista' | alias }}">
            <i class="fas fa-users fa-5x"></i>
            <p>
                Lista pazienti
                <br />
                vaccinabili
            </p>
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_vaccinabili_import' | alias }}">
            <i class="fas fa-upload fa-5x"></i>
            <p>
                Import
                <br />
                CSV
            </p>
        </a>
    </div>
</div>
<hr>


<style>
    .btn-squared-default {
        /* width: 200px !important; */
        height: 190px !important;
        /* font-size: 16px; */
        padding-top: 30px;
    }

    a.btn-squared-default,
    p {
        margin-top: 10px;
    }

    /*
    .btn-squared-default:hover {
        border: 3px solid red;
    }
    */
</style>