<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_nuovo', 'tipo=antinfluenzale' | alias }}">
            <p class="mt-2"><i class="fas fa-syringe fa-2x"></i> Nuovo antinfluenzale</p>
        </a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-squared-default btn-primary btn-block"
            href="{{@BASE}}{{ 'vaccini_nuovo', 'tipo=antipneumococcico' | alias }}">
            <p class="mt-2"><i class="fas fa-lungs fa-2x"></i> Nuovo antipneumococco</p>
        </a>
    </div>
</div>
<hr>
<h2>LISTA VACCINI</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">DATA</th>
                <th scope="col">PAZIENTE</th>
                <th scope="col">VACCINO</th>
                <th scope="col" class="d-none d-sm-block">STATO</th>

                <th scope="col" style="width: 50px">#</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @lista }}" value="{{ @d }}">
                <tr>
                    <td>{{ @d.datavaccino | datatodmy }}</td>
                    <td>{{ @d.denominazione }}, {{ @d.eta }}<check if="{{ @d.rischio=='' }}"><false>, {{ @d.rischio }}</false></check></td>
                    <td>{{ @d.tipo }}, {{ @d.lotto }}, fornito: {{ @d.fornito | fornito }}, sede: {{ @d.sede | sede }}</td>
                    <td class="d-none d-sm-block">{{ @d.stato | stato }}</td>

                    <td scope="row">
                        <div class="btn-group" role="group" aria-label="Pulsanti">
                            <a href="{{@BASE}}{{ 'vaccini_modifica', 'id='.@d.idvaccino | alias }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-pencil-alt"></i></a>
                            <a href="{{@BASE}}{{ 'vaccini_cancella', 'id='.@d.idvaccino | alias }}" class="btn btn-danger btn-sm btn-rect"><i class="fas fa-times"></i></a>
                        </div>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>