<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="{{@BASE}}{{ 'utente_nuovo' | alias }}" class="btn btn-primary btn-block btn-lg"><i class="fas fa-user-plus"></i> NUOVO UTENTE</a><br>
    </div>
</div>
<div class="row"> 
    <div class="col-md-12">
        <h3>Lista utenti</h3>
        <table id="utente" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Ruolo</th>
                <th style="width: 50px">Azioni</th>
              </tr>
            </thead>
            <tbody>
  
              <repeat group="{{ @utenti }}" value="{{ @utente }}">
                <tr>
                  <td>{{ @utente.username }}</td>
                  <td>{{ @utente.role }}</td>
                  <td scope="row" class="text-right">
                    <div class="btn-group" role="group" aria-label="Pulsanti">
                      <a href="{{@BASE}}{{ 'utente_modifica', 'id='.@utente.idutente | alias }}"
                        class="btn btn-warning btn-sm btn-rect"><i class="fas fa-pencil-alt"></i></a>
                      <a href="{{@BASE}}{{ 'utente_cancella', 'id='.@utente.idutente | alias }}"
                        class="btn btn-danger btn-sm btn-rect"><i class="fas fa-times"></i></a>
                    </div>
                  </td>
                </tr>
              </repeat>
  
            </tbody>
          </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h3>Presenze</h3>
        <a href="{{@BASE}}{{ 'dipendenti_presenze_nuovo' | alias }}" class="btn btn-primary btn-block btn-lg"><i class="fas fa-clock"></i> NUOVA PRESENZA</a><br>
        <a href="{{@BASE}}{{ 'dipendenti_presenze_lista' | alias }}" class="btn btn-primary btn-block btn-lg"><i class="fas fa-list-alt"></i> LISTA PRESENZE</a><br>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-12">
        <h3>Impostazioni</h3>
        <a href="{{@BASE}}{{ 'impostazioni' | alias }}" class="btn btn-primary btn-block btn-lg"><i class="fas fa-cog"></i> IMPOSTAZIONI</a><br>
    </div>
</div>
