<style>
    .container {
        max-width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <p class="font-weight-bold text-center">
            <a class="btn" href="{{@BASE}}{{ 'appuntamenti' | alias }}/{{ @lunediPrecedente }}"><i class="fas fa-angle-double-left fa-2x"></i></a>
            <span class="uppercase">Settimana {{ @lunedi }}/{{ @domenica }}</span>
            <a class="btn" href="{{@BASE}}{{ 'appuntamenti' | alias }}/{{ @lunediSuccessivo }}"><i class="fas fa-angle-double-right fa-2x"></i></a>
        </p>
    </div>
</div>

<!-- DIV CALENDARIO -->
<div class="row">
    <repeat group="{{ @tabella }}" value="{{ @giorno }}">
        <div class="col-md-3 p-1">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr class="tabella-giorno">
                        <th scope="col" colspan="3">
                            <!-- NOME GIORNO E DATA --> {{ @giorno.giorno }} - {{ @giorno.data }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <repeat group="{{ @giorno.orari }}" value="{{ @orario }}">
                        <tr>
                            <th scope="row" class="tabella-orario">
                                <!-- ORA -->{{ @orario.ora }}
                            </th>
                            <check if="{{ @orario.persona!='' }}">
                                <true>
                                    <td>
                                        <span class="tabella-persona">{{ @orario.persona }}</span>
                                        <check if="{{ @orario.nota!='' }}">
                                            <true>
                                                <span class="tabella-nota">({{ @orario.nota }})</span>
                                            </true>
                                        </check>
                                    </td>
                                    <td class="tabella-btn"><button type="button" class="btn btn-danger btn-sm btn-block btn-rect">X</button></td>
                                </true>
                                <false>
                                    <check if="{{ @orario.attivo==true }}">
                                        <true>
                                            <td colspan="2"><button type="button" class="btn btn-light btn-sm btn-block btn-rect">+</button></td>
                                        </true>
                                        <false>
                                            <td colspan="2"><button type="button" class="btn btn-gray btn-sm btn-block btn-rect">+</button></td>
                                        </false>
                                    </check>
                                </false>
                            </check>
                        </tr>
                    </repeat>
                </tbody>
            </table>
        </div>
    </repeat>
</div>
<!-- END DIV CALENDARIO -->