<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Ora</th>
                    <th scope="col">Persona</th>
                    <th scope="col" class="d-none d-sm-table-cell">Note</th>
                    <th scope="col" class="d-none d-sm-table-cell">Flag</th>
                    <th scope="col" class="d-none d-sm-table-cell">Inizio</th>
                    <th scope="col" class="d-none d-sm-table-cell">Fine</th>
                    <th scope="col" class="d-none d-sm-table-cell">Durata</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>