<style>
    .container {
        max-width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-8">
        <p class="font-weight-bold text-center">
            <a class="btn" href="{{@BASE}}{{ 'appuntamenti' | alias }}/{{ @lunediPrecedente }}"><i class="fas fa-angle-double-left fa-2x"></i></a>
            <span class="uppercase">Dal {{ @lunedi }} al {{ @domenica }}</span>
            <a class="btn" href="{{@BASE}}{{ 'appuntamenti' | alias }}/{{ @lunediSuccessivo }}"><i class="fas fa-angle-double-right fa-2x"></i></a>
        </p>
    </div>
    <div class="col-md-4">
        <a class="btn" href="{{@BASE}}{{ 'appuntamentilista' | alias }}"><i class="fas fa-cog"></i> Lista completa</a>
    </div>            
</div>

<!-- DIV CALENDARIO -->
<div class="row">
    <repeat group="{{ @tabella }}" value="{{ @giorno }}">
        <div class="col-md-4 p-1">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr class="tabella-giorno">
                        <th scope="col" colspan="3">
                            {{ @giorno.giorno }} - {{ @giorno.data }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <repeat group="{{ @giorno.orari }}" value="{{ @orario }}">
                        <tr>
                            <th scope="row" class="tabella-orario">
                                <!-- ORA -->{{ @orario.ora }}
                            </th>
                            <check if="{{ @orario.persona!='' }}">
                                <true>
                                    <td>
                                        <span class="tabella-persona">{{ @orario.persona }}</span>
                                        <check if="{{ @orario.nota!='' }}">
                                            <true>
                                                <span class="tabella-nota">({{ @orario.nota }})</span>
                                            </true>
                                        </check>
                                    </td>
                                    <td class="tabella-btn">
                                        <button type="button" class="btn btn-danger btn-sm btn-block btn-rect"
                                            data-toggle="modal" data-target="#rimuoviModal" data-persona="{{ @orario.persona }}"
                                            data-ora="{{ @orario.ora }}" data-data="{{ @giorno.data }}" data-inizio="{{ @orario.inizio }}">
                                            <i class="fa fa-pencil-alt"></i>
                                        </button>
                                    </td>
                                </true>
                                <false>
                                    <check if="{{ @orario.attivo==true }}">
                                        <true>
                                            <td colspan="2">
                                                <button type="button" class="btn btn-light btn-sm btn-block btn-rect"
                                                    data-toggle="modal" data-target="#aggiungiModal"
                                                    data-addambulatorio="{{ @orario.ambulatorio }}" data-addora="{{ @orario.ora }}"
                                                    data-adddata="{{ @giorno.data }}" data-addgiorno="{{ @giorno.giorno }}">
                                                    +
                                                </button>
                                            </td>
                                        </true>
                                        <false>
                                            <td colspan="2">
                                                <button type="button" class="btn btn-gray btn-sm btn-block btn-rect"
                                                    data-toggle="modal" data-target="#aggiungiModal"
                                                    data-addambulatorio="{{ @orario.ambulatorio }}" data-addora="{{ @orario.ora }}"
                                                    data-adddata="{{ @giorno.data }}" data-addgiorno="{{ @giorno.giorno }}">
                                                    +
                                                </button>
                                            </td>
                                        </false>
                                    </check>
                                </false>
                            </check>
                        </tr>
                    </repeat>
                </tbody>
            </table>
        </div>
    </repeat>
</div>
<!-- END DIV CALENDARIO -->

<!-- MOD RIMUOVI -->
<div class="modal fade" id="rimuoviModal" tabindex="-1" role="dialog" aria-labelledby="rimuoviModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-info btn-block" id="btn_parti" onclick="btn_parti()">Inizia visita</button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{@BASE}}{{ 'appuntamentomodifica' | alias }}" id="form_rimuovi">
                    <div class="form-group">
                        <h3 id="modal-info"></h3>
                        <h3 id="modal-persona"></h3>
                    </div>
                    <input type="hidden" name="tipologia" value="" id="tipologia">
                    <input type="hidden" name="data" value="" id="data">
                    <input type="hidden" name="ora" value="" id="ora">
                    <input type="hidden" name="tabelladata" value="{{ @lunedi }}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Indietro</button>
                <button type="button" class="btn btn-danger" id="btn_annullo" onclick="btn_cancella()">Cancella</button>
                <button type="button" class="btn btn-warning" id="btn_annullo" onclick="btn_annullo()">Annullato</button>
                <button type="button" class="btn btn-warning" id="btn_nonpresentato" onclick="btn_nonpresentato()">Assente</button>
                <button type="button" class="btn btn-success" id="btn_fatto" onclick="btn_fatto()">Fatto</button>
            </div>
        </div>
    </div>
</div>
<!-- MOD RIMUOVI FINE -->

<!-- MOD AGGIUNGI -->
<div class="modal fade" id="aggiungiModal" tabindex="-1" role="dialog" aria-labelledby="aggiungiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aggiungiModalLabel">Nuovo appuntamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{@BASE}}{{ 'appuntamentoaggiungi' | alias }}" id="form_aggiungi">
                    <div class="form-group">
                        <p>
                            <span id="modal-add-data"></span><br>
                            <span id="modal-add-ora"></span><br>
                            <span id="modal-add-ambulatorio"></span>
                        </p>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="InputNote">Mutuato</label>
                        <input type="text" class="form-control" id="persona" placeholder="Cognome Nome" name="persona"
                            required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="InputNote">Note</label>
                        <input type="text" class="form-control" id="note" placeholder="Note" name="note">
                    </div>

                    <input type="hidden" name="data" value="" id="add-data">
                    <input type="hidden" name="ora" value="" id="add-ora">
                    <input type="hidden" name="tabelladata" value="{{ @lunedi }}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Indietro</button>
                <button type="button" class="btn btn-success" id="btn_aggiungi" onclick="btn_aggiungi()">Registra</button>
            </div>
        </div>
    </div>
</div>
<!-- MOD AGGIUNGI FINE -->