<div class="row">
  <div class="col-md-12">
    <h3>Lista accessi per persona <em>(primi 20)</em></h3>
    <table class="table table-striped tabella-testo-mini">
      <thead>
      <tr>
        <th scope="col">Persona</th>
        <th scope="col">Numero Appuntamenti</th>
      </tr>
      </thead>
      <tbody>
      <repeat group="{{ @numeroApp }}" key="{{ @persona }}" value="{{ @napp }}">
        <tr>
          <td>{{ @persona }}</td>
          <td>{{ @napp }}</td>
        </tr>
      </repeat>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Lista accessi per data</h3>
    Media Ritardi: {{ @ritardo }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <table class="table table-striped tabella-testo-mini">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Ora</th>
          <th scope="col">Persona</th>
          <th scope="col" class="d-none d-sm-table-cell">Note</th>
          <th scope="col" class="d-none d-sm-table-cell">Flag</th>
          <th scope="col" class="d-none d-sm-table-cell">Inizio</th>
          <th scope="col" class="d-none d-sm-table-cell">Fine</th>
          <th scope="col" class="d-none d-sm-table-cell">Durata [s]</th>
          <th scope="col" class="d-none d-sm-table-cell">Ritardo [s]</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <repeat group="{{ @apps }}" value="{{ @app }}">
          <tr>
            <td>{{ @app.data }}</td>
            <td>{{ @app.ora }}</td>
            <td>{{ @app.persona }}</td>
            <td>{{ @app.note }}</td>
            <td>
              <check if="{{ @app.annullato==1 }}">
                <true> <i class="far fa-bell-slash"></i> </true>
              </check>
              <check if="{{ @app.assente==1 }}">
                <true> <i class="far fa-meh-blank"></i> </true>
              </check>
              <check if="{{ @app.fatto==1 }}">
                <true> <i class="far fa-check-circle"></i> </true>
              </check>
            </td>
            <td>{{ @app.inizio }}</td>
            <td>{{ @app.fine }}</td>
            <td>{{ @app.durata }}</td>
            <td>{{ @app.ritardo }}</td>
            <td>{{ @app.t }}</td>
          </tr>
        </repeat>
      </tbody>
    </table>
  </div>
</div>
