<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Home' }} "><true>active</true></check> " href="{{@BASE}}{{ 'home' | alias }}">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Appuntamenti' }} "><true>active</true></check>" href="{{@BASE}}{{ 'appuntamenti' | alias }}">
        Appuntamenti
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Ricette' }} "><true>active</true></check>" href="{{@BASE}}{{ 'ricettalista' | alias }}">
        Ricette
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Lista' }} "><true>active</true></check>" href="{{@BASE}}{{ 'lista' | alias }}">
        Movimenti
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Pazienti' }} "><true>active</true></check>" href="{{@BASE}}{{ 'pazienti' | alias }}">
      Pazienti
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Privacy' }} "><true>active</true></check>" href="{{@BASE}}{{ 'privacy' | alias }}">
      Privacy
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Covid' }} "><true>active</true></check>" href="{{@BASE}}{{ 'covid' | alias }}">
      Covid
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Vaccini' }} "><true>active</true></check>" href="{{@BASE}}{{ 'vaccini' | alias }}">
      Vaccini
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Anticoaugulanti' }} "><true>active</true></check>" href="{{@BASE}}{{ 'naotao' | alias }}">
      Nao/Tao
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Utente' }} "><true>active</true></check>" href="{{@BASE}}{{ 'utente' | alias }}">
        Utenti
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <check if=" {{ @titolo=='Logout' }} "><true>active</true></check>" href="{{@BASE}}{{ 'logout' | alias }}">
        Logout
      </a>
</li>
  </ul>
</div>
