<div class="row">
    <div class="col-md-12">
        <a href="{{@BASE}}{{ 'privacynew' | alias }}" class="btn btn-primary btn-block btn-lg">NUOVO PAZIENTE</a><br>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Lista iniziali cognomi</h3>
        <repeat group="{{ @lista }}" value="{{ @lettera }}">
            <a href="{{@BASE}}/privacy/{{ @lettera }}" class="display-4">{{ @lettera }}</a>
        </repeat>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Statistiche</h3>
    </div>
</div>

<div class="card-deck text-center mt-1">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Privacy totali</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @totaleprivacy }} <small class="text-muted"> pazienti</small></h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Privacy firmate</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @totalefirmate }} <small class="text-muted">/ {{ @totaleprivacy }}</small></h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Privacy mancanti</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @totalemancanti }} <small class="text-muted">/ {{ @totaleprivacy }}</small></h1>
        </div>
    </div>
</div>

<div class="row mt-1">
    <div class="col-md-12">
        <h3>Percentuale privacy firmate</h3>
        <div class="progress" style="height: 25px;">
            <div class="progress-bar" role="progressbar" style="width: {{ @percentuale }}%;" aria-valuenow="{{ @percentuale }}" aria-valuemin="0" aria-valuemax="100">{{ @percentuale }}%</div>
        </div>
    </div>
</div>
