<div class="row">
    <div class="col-md-4">
        <a href="{{@BASE}}{{ 'privacynew' | alias }}" class="btn btn-primary btn-block btn-lg">NUOVO PAZIENTE</a>
    </div>
    <div class="col-md-4">
        <a href="{{@BASE}}{{ 'privacysearch' | alias }}" class="btn btn-primary btn-block btn-lg">CERCA PAZIENTE</a><br>
    </div>
    <div class="col-md-4">
        <a href="{{@BASE}}{{ 'privacytable' | alias }}" class="btn btn-primary btn-block btn-lg" target="_blank">TABELLA</a><br>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" class="d-none d-sm-block">ID</th>
                <th scope="col">COGNOME NOME</th>
                <th scope="col" class="d-none d-sm-block">DATA NASCITA</th>
                <th scope="col">FIRMA</th>

                <th scope="col" style="width: 50px">#</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @lista }}" value="{{ @paziente }}">
                <tr>
                    <td class="d-none d-sm-block">{{ @paziente.id }}</td>
                    <td>{{ @paziente.nomecompleto }}</td>
                    <td class="d-none d-sm-block">{{ @paziente.datanascita }}</td>
                    <td>
                        <check if="{{ @paziente.firmata==1 }}">
                            <true> <i class="fas fa-check-square text-success bg-white"></i> {{ @paziente.datafirma }} </true>
                            <false> <i class="fas fa-exclamation-triangle text-danger bg-white"></i> </false>
                        </check>
                    </td>
                    <th scope="row">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-warning btn-sm btn-block btn-rect"
                                    data-toggle="modal" data-target="#modificaModal"
                                    data-id="{{ @paziente.id }}" data-nome="{{ @paziente.nome }}" data-cognome="{{ @paziente.cognome }}">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <a href="{{@BASE}}/privacy/pdf/{{ @paziente.id }}" class="btn btn-info btn-sm btn-rect" target="_blank">PDF</a>
                            <a href="{{@BASE}}/privacy/cancella/{{ @paziente.id }}" class="btn btn-danger btn-sm btn-rect"><i class="fas fa-times"></i></a>
                        </div>
                    </th>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>

<!-- MOD AGGIUNGI -->
<div class="modal fade" id="modificaModal" tabindex="-1" role="dialog" aria-labelledby="modificaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aggiungiModalLabel">Modifica</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{@BASE}}{{ 'privacymodifica' | alias }}" id="form_modifica">
                    <div class="form-group">
                        <h4><span id="modalcognome"></span> <span id="modalnome"></span></h4>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="datafirma">Data firma</label>
                        <input type="date" class="form-control" id="datafirma" name="datafirma" required autofocus>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="segreteria" value="segreteria" id="segreteria" checked>
                        <label class="form-check-label" for="segreteria">
                            Segreteria
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="sostituti" value="sostituti" id="sostituti" checked>
                        <label class="form-check-label" for="sostituti">
                            Sostituti
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="associati" value="associati" id="associati" checked>
                        <label class="form-check-label" for="associati">
                            Associati
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="consulenti" value="consulenti" id="consulenti" checked>
                        <label class="form-check-label" for="consulenti">
                            Consulenti fiscali
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="softwarehouse" value="softwarehouse" id="softwarehouse" checked>
                        <label class="form-check-label" for="softwarehouse">
                            Software house
                        </label>
                    </div>
                    <input type="hidden" name="input-id" value="" id="input-id">
                    <input type="hidden" name="input-lettera" value="{{ @lettera }}" id="input-lettera">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Indietro</button>
                <button type="button" class="btn btn-success" id="btn_aggiungi" onclick="btn_modifica()">Modifica</button>
            </div>
        </div>
    </div>
</div>
<!-- MOD AGGIUNGI FINE -->