<div class="row">
    <div class="col-md-12">
        <h3>Lista pazienti</h3>
        <a class="nav-link <check if=" {{ @titolo=='PDF' }} "><true>active</true></check>" href="{{@BASE}}{{ 'makepdf' | alias }}">
        Pdf
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>