<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        
        <h1 class="text-center">ATTENZIONE AREA RISERVATA</h1>
        <h2>LOGS</h2>
        <a href="{{@BASE}}{{ 'logs' | alias }}" class="btn btn-primary btn-block btn-lg"><i class="fas fa-user-lock"></i> Visualizza logs</a><br>
        <hr>
        <h2>DATABASE</h2>
        <a href="{{@BASE}}{{ 'database_migrazioni' | alias }}" class="btn btn-warning btn-block btn-lg"><i class="fas fa-database"></i> Effettua migrazioni</a><br>
        <a href="{{@BASE}}{{ 'database_download' | alias }}" class="btn btn-warning btn-block btn-lg"><i class="fas fa-download"></i> Download database</a><br>
        <hr>
        <h2>PULIZIA TABELLE</h2>
        <h5>Attenzione irreversibile! Non chiede conferma</h5>
        <a href="{{@BASE}}{{ 'impostazionisvuotaprenotazioni' | alias }}" class="btn btn-danger btn-block btn-lg"><i class="fas fa-trash-alt"></i> Svuota tabella Appuntamenti</a><br>
        <a href="{{@BASE}}{{ 'impostazionisvuotaricette' | alias }}" class="btn btn-danger btn-block btn-lg"><i class="fas fa-trash-alt"></i> Svuota tabella Ricette fatte</a><br>
        <a href="{{@BASE}}{{ 'impostazionisvuotaprivacy' | alias }}" class="btn btn-danger btn-block btn-lg"><i class="fas fa-trash-alt"></i> Svuota tabella Privacy</a><br>
        <a href="{{@BASE}}{{ 'impostazionisvuotaschedecovid' | alias }}" class="btn btn-danger btn-block btn-lg"><i class="fas fa-trash-alt"></i> Svuota tabella Schede Covid</a><br>
        <a href="{{@BASE}}{{ 'impostazionisvuotaantinfluenzale' | alias }}" class="btn btn-danger btn-block btn-lg"><i class="fas fa-trash-alt"></i> Svuota tabella Antinfluenzali</a><br>
        <a href="{{@BASE}}{{ 'impostazionisvuotanaotao' | alias }}" class="btn btn-danger btn-block btn-lg"><i class="fas fa-trash-alt"></i> Svuota tabella Nao/Tao</a><br>
        <a href="{{@BASE}}{{ 'impostazionisvuotapazienti' | alias }}" class="btn btn-danger btn-block btn-lg"><i class="fas fa-trash-alt"></i> Svuota tabella Pazienti</a><br>
    </div>
</div>
