<div class="row">
    <div class="col-md-12">
        <h3>Importa pazienti</h3>
    </div>
</div>
<form method="POST" action="{{@BASE}}{{ 'impostazioni_import_pazienti_db' | alias }}">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="formato">Formato</label>
                <select class="form-control select2" id="formato" name="formato">
                    <option value="generale">Generale: "cognome|nome|sesso|nascita|codice_fiscale|eta|telefono|cellulare"</option>
                    <option value="vaccini">Vaccini: "cognome|nome|eta|rischio|vaccinato_anno_precedente"</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="csv">Testo CSV</label>
                <textarea class="form-control" id="csv" name="csv" rows="12"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-secondary btn-block btn-lg" href="{{@BASE}}{{ 'impostazioni' | alias }}">Annulla</a>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Carica</button>
        </div>
    </div>
</form>