<style>
    .container {
        max-width: 100%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Cerca paziente</h3>
        <form method="get" action="" id="formModifica">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control js-select2" name="paziente" id="selectModifica">
                            <repeat group="{{ @listapazienti }}" value="{{ @p }}">
                                <option value="{{ @p.id }}">{{ @p.nomecompleto }}</option>
                            </repeat>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnModifica">AGGIUNGI SCHEDA COVID</button>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Statistiche</h3>
    </div>
</div>

<div class="card-deck text-center mt-1">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Positivi</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @stato_positivi }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Sospetti</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @stato_sospetti }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Isolamento</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @stato_isolamento }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Negativi</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @stato_negativi }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Guariti</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @stato_guariti }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Deceduti</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @stato_deceduti }}</h1>
        </div>
    </div>
</div>

<h3>Positivi</h3>
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data scheda</th>
                    <th scope="col">Paziente</th>
                    <th scope="col">Stato</th>                    
                    <th scope="col">Clinica</th>
                    <th scope="col">Comorbidità</th>
                    <th scope="col">Presa in carico</th>
                    <th scope="col">Terapia</th>
                    <th scope="col">Ossigeno</th>
                    <th scope="col">Esami</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @schede_positivi }}" value="{{ @s }}"></repeat>
                <tr>
                    <td>{{ @s.datascheda | datatodmy }}</td>
                    <td>{{ @s.cognome }} {{ @s.nome }} ({{ @s.datanascita }})</td>
                    <td>{{ @s.stato }} <check if="{{ @s.datatampone!='' }}"><true>({{ @s.datatampone | datatodmy }})</true></check></td>
                    <td>{{ @s.clinica }}</td>
                    <td>{{ @s.comorbidita }}</td>
                    <td>{{ @s.presaincarico }}</td>
                    <td>{{ @s.terapia }}</td>
                    <td>{{ @s.o2 }}</td>
                    <td>{{ @s.esami }}</td>
                    <td>{{ @s.note }}</td>
                </tr>
                </repeat>
            </tbody>
        </table>

    </div>
</div>

<h3>Sospetti</h3>
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data scheda</th>
                    <th scope="col">Paziente</th>
                    <th scope="col">Stato</th>                    
                    <th scope="col">Clinica</th>
                    <th scope="col">Comorbidità</th>
                    <th scope="col">Presa in carico</th>
                    <th scope="col">Terapia</th>
                    <th scope="col">Ossigeno</th>
                    <th scope="col">Esami</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @schede_sospetti }}" value="{{ @s }}"></repeat>
                <tr>
                    <td>{{ @s.datascheda | datatodmy }}</td>
                    <td>{{ @s.cognome }} {{ @s.nome }} ({{ @s.datanascita }})</td>
                    <td>{{ @s.stato }} <check if="{{ @s.datatampone!='' }}"><true>({{ @s.datatampone | datatodmy }})</true></check></td>
                    <td><check if="{{ @s.clinica='Sintomatico' }}"><true><span class="text-danger">{{ @s.clinica }}</span></true><false>{{ @s.clinica }}</false></check></td>
                    <td>{{ @s.comorbidita }}</td>
                    <td>{{ @s.presaincarico }}</td>
                    <td>{{ @s.terapia }}</td>
                    <td>{{ @s.o2 }}</td>
                    <td>{{ @s.esami }}</td>
                    <td>{{ @s.note }}</td>
                </tr>
                </repeat>
            </tbody>
        </table>

    </div>
</div>

<h3>Isolamento</h3>
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data scheda</th>
                    <th scope="col">Paziente</th>
                    <th scope="col">Stato</th>                    
                    <th scope="col">Clinica</th>
                    <th scope="col">Comorbidità</th>
                    <th scope="col">Presa in carico</th>
                    <th scope="col">Terapia</th>
                    <th scope="col">Ossigeno</th>
                    <th scope="col">Esami</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @schede_isolamento }}" value="{{ @s }}"></repeat>
                <tr>
                    <td>{{ @s.datascheda | datatodmy }}</td>
                    <td>{{ @s.cognome }} {{ @s.nome }} ({{ @s.datanascita }})</td>
                    <td>{{ @s.stato }} <check if="{{ @s.datatampone!='' }}"><true>({{ @s.datatampone | datatodmy }})</true></check></td>
                    <td>{{ @s.clinica }}</td>
                    <td>{{ @s.comorbidita }}</td>
                    <td>{{ @s.presaincarico }}</td>
                    <td>{{ @s.terapia }}</td>
                    <td>{{ @s.o2 }}</td>
                    <td>{{ @s.esami }}</td>
                    <td>{{ @s.note }}</td>
                </tr>
                </repeat>
            </tbody>
        </table>

    </div>
</div>

<h3>Guariti</h3>
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data scheda</th>
                    <th scope="col">Paziente</th>
                    <th scope="col">Stato</th>                    
                    <th scope="col">Clinica</th>
                    <th scope="col">Comorbidità</th>
                    <th scope="col">Presa in carico</th>
                    <th scope="col">Terapia</th>
                    <th scope="col">Ossigeno</th>
                    <th scope="col">Esami</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @schede_guariti }}" value="{{ @s }}"></repeat>
                <tr>
                    <td>{{ @s.datascheda | datatodmy }}</td>
                    <td>{{ @s.cognome }} {{ @s.nome }} ({{ @s.datanascita }})</td>
                    <td>{{ @s.stato }} <check if="{{ @s.datatampone!='' }}"><true>({{ @s.datatampone | datatodmy }})</true></check></td>
                    <td>{{ @s.clinica }}</td>
                    <td>{{ @s.comorbidita }}</td>
                    <td>{{ @s.presaincarico }}</td>
                    <td>{{ @s.terapia }}</td>
                    <td>{{ @s.o2 }}</td>
                    <td>{{ @s.esami }}</td>
                    <td>{{ @s.note }}</td>
                </tr>
                </repeat>
            </tbody>
        </table>

    </div>
</div>

<h3>Deceduti</h3>
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data scheda</th>
                    <th scope="col">Paziente</th>
                    <th scope="col">Stato</th>                    
                    <th scope="col">Clinica</th>
                    <th scope="col">Comorbidità</th>
                    <th scope="col">Presa in carico</th>
                    <th scope="col">Terapia</th>
                    <th scope="col">Ossigeno</th>
                    <th scope="col">Esami</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @schede_deceduti }}" value="{{ @s }}"></repeat>
                <tr>
                    <td>{{ @s.datascheda | datatodmy }}</td>
                    <td>{{ @s.cognome }} {{ @s.nome }} ({{ @s.datanascita }})</td>
                    <td>{{ @s.stato }} <check if="{{ @s.datatampone!='' }}"><true>({{ @s.datatampone | datatodmy }})</true></check></td>
                    <td>{{ @s.clinica }}</td>
                    <td>{{ @s.comorbidita }}</td>
                    <td>{{ @s.presaincarico }}</td>
                    <td>{{ @s.terapia }}</td>
                    <td>{{ @s.o2 }}</td>
                    <td>{{ @s.esami }}</td>
                    <td>{{ @s.note }}</td>
                </tr>
                </repeat>
            </tbody>
        </table>

    </div>
</div>

