<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Cerca paziente</h3>
        <form method="get" action="" id="formModifica">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control js-select2" name="paziente" id="selectModifica">
                            <repeat group="{{ @listapazienti }}" value="{{ @p }}">
                                <option value="{{ @p.id }}">{{ @p.nomecompleto }}</option>
                            </repeat>
                        </select>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnModifica">MODIFICA STATO COVID</button>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Statistiche</h3>
    </div>
</div>

<div class="card-deck text-center mt-1">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Positivi</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @totalepositivi }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Sospetti</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @totalesospetti }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Isolamento</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @totaleisolamento }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Negativi</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @totalenegativi }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Guariti</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @totaleguariti }}</h1>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h6 class="my-0 font-weight-normal">Deceduti</h6>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ @totaledeceduti }}</h1>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Positivi</h3>
        <table class="table table-striped">
            <tbody>
            <repeat group="{{ @listapositivi }}" value="{{ @paziente }}">
                <tr>
                    <td>{{ @paziente.datacovid | datatodmy }}</td>
                    <td>{{ @paziente.nomecompleto }} ({{ @paziente.datanascita }})</td>
                    <td style="width: 30%">{{ @paziente.stato }}</td>
                    <td scope="row" style="width: 50px">
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{{@BASE}}/covid/modifica/{{ @paziente.id }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-biohazard"></i></a>
                        </div>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
        <hr>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <h3>Sospetti</h3>
        <table class="table table-striped">
            <tbody>
            <repeat group="{{ @listasospetti }}" value="{{ @paziente }}">
                <tr>
                    <td>{{ @paziente.datacovid | datatodmy }}</td>
                    <td>{{ @paziente.nomecompleto }} ({{ @paziente.datanascita }})</td>
                    <td style="width: 30%">{{ @paziente.stato }}</td>
                    <td scope="row" style="width: 50px">
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{{@BASE}}/covid/modifica/{{ @paziente.id }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-biohazard"></i></a>
                        </div>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
        <hr>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Isolamento</h3>
        <table class="table table-striped">
            <tbody>
            <repeat group="{{ @listaisolamento }}" value="{{ @paziente }}">
                <tr>
                    <td>{{ @paziente.datacovid | datatodmy }}</td>
                    <td>{{ @paziente.nomecompleto }} ({{ @paziente.datanascita }})</td>
                    <td style="width: 30%">{{ @paziente.stato }}</td>
                    <td scope="row" style="width: 50px">
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{{@BASE}}/covid/modifica/{{ @paziente.id }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-biohazard"></i></a>
                        </div>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
        <hr>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Negativi</h3>
        <table class="table table-striped">
            <tbody>
            <repeat group="{{ @listanegativi }}" value="{{ @paziente }}">
                <tr>
                    <td>{{ @paziente.datacovid | datatodmy }}</td>
                    <td>{{ @paziente.nomecompleto }} ({{ @paziente.datanascita }})</td>
                    <td style="width: 30%">{{ @paziente.stato }}</td>
                    <td scope="row" style="width: 50px">
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{{@BASE}}/covid/modifica/{{ @paziente.id }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-biohazard"></i></a>
                        </div>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
        <hr>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Guariti</h3>
        <table class="table table-striped">
            <tbody>
            <repeat group="{{ @listaguariti }}" value="{{ @paziente }}">
                <tr>
                    <td>{{ @paziente.datacovid | datatodmy }}</td>
                    <td>{{ @paziente.nomecompleto }} ({{ @paziente.datanascita }})</td>
                    <td style="width: 30%">{{ @paziente.stato }}</td>
                    <td scope="row" style="width: 50px">
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{{@BASE}}/covid/modifica/{{ @paziente.id }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-biohazard"></i></a>
                        </div>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
        <hr>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Deceduti</h3>
        <table class="table table-striped">
            <tbody>
            <repeat group="{{ @listadeceduti }}" value="{{ @paziente }}">
                <tr>
                    <td>{{ @paziente.datacovid | datatodmy }}</td>
                    <td>{{ @paziente.nomecompleto }} ({{ @paziente.datanascita }})</td>
                    <td style="width: 30%">{{ @paziente.stato }}</td>
                    <td scope="row" style="width: 50px">
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{{@BASE}}/covid/modifica/{{ @paziente.id }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-biohazard"></i></a>
                        </div>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
        <hr>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <h3>Trattati con Plaquenil</h3>
        <table class="table table-striped">
            <tbody>
            <repeat group="{{ @listaplaquenil }}" value="{{ @paziente }}">
                <tr>
                    <td>{{ @paziente.datacovid | datatodmy }}</td>
                    <td>{{ @paziente.nomecompleto }} ({{ @paziente.datanascita }})</td>
                    <td style="width: 30%">{{ @paziente.stato }}</td>
                    <td scope="row" style="width: 50px">
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{{@BASE}}/covid/modifica/{{ @paziente.id }}" class="btn btn-warning btn-sm btn-rect"><i class="fas fa-biohazard"></i></a>
                        </div>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
        <hr>
    </div>
</div>