<div class="row">
    <div class="col-md-12">
        <!-- bootstrap style-->
        <F3:repeat group="{{ \App\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            <div class="alert alert-{{ @msg.status }} alert-dismissable">
                {{ @msg.text | esc }}
            </div>
        </F3:repeat>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary btn-block btn-lg mb-2" 
            href="{{@BASE}}{{ 'dipendenti_presenze_nuovo' | alias }}">
            <i class="fas fa-clock"></i> NUOVA PRESENZA
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary btn-block btn-lg" 
            href="{{@BASE}}{{ 'dipendenti_presenze_statistiche' | alias }}">
            <i class="far fa-clock"></i> CONTEGGI
        </a>
    </div>
</div>
<hr>
<h2>LISTA PRESENZE</h2>
<div class="row">
    <div class="col-md-12">
        <!-- table-striped -->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">DATA</th>
                <th scope="col">ENTRATA</th>
                <th scope="col">USCITA</th>
                <th scope="col">NOTE</th>
                
                <th scope="col" style="width: 50px">#</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @lista }}" value="{{ @d }}">
                <tr>
                    <td scope="row">{{ @d.data | datatodmy }}</td>
                    <td>{{ @d.entrata }}</td>
                    <td>{{ @d.uscita }}</td>
                    <td>{{ @d.note }}</td>
                    
                    <td scope="row">
                        <div class="btn-group" role="group" aria-label="Pulsanti">
                            <a href="{{@BASE}}{{ 'dipendenti_presenze_cancella', 'id='.@d.id | alias }}" class="btn btn-danger btn-sm btn-rect"><i class="fas fa-times"></i></a>
                        </div>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>